@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Custom Global Styles === */
html, body {
  background-color: #111111;
  color: #ffffff;
  font-family: 'Shippori Mincho', 'Times New Roman', serif;
}
