---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-5xl font-extrabold mb-6 text-white">About Me</h1>
  <p class="text-lg mb-8 leading-relaxed text-white">
    これは私のポートフォリオのAboutページです。
  </p>
</Layout>
