---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-5xl font-extrabold mb-6 text-white">About Me</h1>

    <h2 class="text-2xl font-extrabold mb-6 text-white">今やっていること</h2> 
      <p class="text-lg mb-8 leading-relaxed text-white">
        現在、音楽教室で受付事務・音響/照明業務、NAS・PC移行などの
        社内ITサポート業務に携わっています。
      </p>
    
   <h2 class="text-2xl font-extrabold mb-6 text-white">ITに興味を持った理由</h2> 
      <p class="text-lg mb-8 leading-relaxed text-white">
        課題を整理し、人を責めずに仕組みで解決できることに関心を持っています。
      </p>
    <h2 class="text-2xl font-extrabold mb-6 text-white">これからやりたいこと</h2> 
      <p class="text-lg mb-8 leading-relaxed text-white">
        編集中
      </p>      
</Layout>
