---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-5xl font-semibold mb-6 text-white">Contact</h1>
  <p class="text-base mb-8 leading-loose text-white">
    これは私のポートフォリオのContactページです。
  </p>

  <!--フォームを作る。私のayaru.t.970724の方にメールが届くようにする -->

</Layout>
