---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-5xl font-extrabold mb-6 text-white">Contact</h1>
  <p class="text-lg mb-8 leading-relaxed text-white">
    これは私のポートフォリオのContactページです。
  </p>
  <!--フォームを作る。私のayaru.t.970724の方にメールが届くようにする -->
</Layout>
