---
import Layout from '../layouts/Layout.astro';
const name = "Ayaru";
const message = "未来に向けて、今を作る。";
---

<Layout>
    <h1 class="text-5xl font-extrabold mb-6 text-white">Hello World</h1>
    <p class="text-lg mb-8 leading-relaxed text-white">
      はじめまして!<br />
      Webエンジニア志望のAyaru Tamuraです。<br />
      将来的にはスパイキングニューラルネットワーク（SNN）を使ったAIの研究も目指しています。
    </p>
    <div class="flex flex-wrap justify-center gap-4 mt-8">
      <a href="/about" class="px-4 py-2 bg-[#333333] rounded text-white">About</a>
      <a href="/skills" class="px-4 py-2 bg-[#333333] rounded text-white">Skills</a>
      <a href="/works" class="px-4 py-2 bg-[#333333] rounded text-white">Works</a>
      <a href="/contact" class="px-4 py-2 bg-[#333333] rounded text-white">Contact</a>
    </div>
</Layout>
