---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-5xl font-extrabold mb-6 text-white">Skills</h1>
  <p class="text-lg mb-8 leading-relaxed text-white">
    これは私のポートフォリオのSkillsページです。
  </p>

<!--かけるかわからないけど学習中の言語とか貼る -->

</Layout>
