---
import Layout from '../layouts/Layout.astro';
---

<Layout>
 <h1 class="text-5xl font-semibold mb-8 text-white">Skills</h1>

<div class="mb-8">
  <h2 class="text-2xl font-bold mb-4 text-white">現在使用している技術</h2>
  <ul class="text-lg text-white leading-relaxed">
    <li>HTML / CSS</li>
    <li>Astro</li>
    <li>Git / GitHub</li>
    <li>Vercel</li>
    <li>Photoshop（画像編集・ビジュアル制作)</li>
    <li>Illustrator(ロゴ・デザイン制作)</li>
  </ul>
</div>

<div class="mb-8">
  <h2 class="text-2xl font-bold mb-4 text-white">経験のある業務・スキル</h2>
  <ul class="text-lg text-white leading-relaxed">
    <li>ITサポート（PC移行・NAS運用）</li>
    <li>ソフトウェア検証業務</li>
    <li>音響 / 照明オペレーション</li>
  </ul>
</div>

<div class="mb-8">
  <h2 class="text-2xl font-bold mb-4 text-white">学習中</h2>
  <ul class="text-lg text-white leading-relaxed">
    <li>JavaScript</li>
    <li>Web開発全般</li>
    <li>基本情報技術者試験</li>
  </ul>
</div>
</Layout>
